openai>=1.12.0
groq>=0.4.0
mistralai>=0.1.0
chromadb>=0.4.22
sentence-transformers>=2.3.0
rich>=13.7.0
python-dotenv>=1.0.0
httpx>=0.26.0
duckduckgo-search>=4.1.0
PyPDF2>=3.0.0
